@font-face {
    font-family: TheSkinny;
    src: url("../font/TheSkinny.otf") format("opentype");
}

@font-face {
    font-family: TheSkinny;
    font-weight: bold;
    src: url("../font/TheSkinnybold.otf") format("opentype");
}

body {
    background: #fff url(../images/bluefoxy_bgr_02.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "TheSkinny", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content {
    font-size: 44px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 64px;
    color: #1F355C;
}

.row-space {
    padding-top: 20px;
}

.transparent-bgr {
    background-color: rgba(255, 255, 255, 0.6);
}

.content a {
    text-decoration: none;
}
